body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
}

video {
  margin-top: 20px;
  border: 2px solid #444;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  background: #222;
  border: 1px solid #555;
}
li:hover {
  background: #333;
}
